GOOGLE_GENAI_USE_VERTEXAI=FALSE
GOOGLE_API_KEY=AIzaSyBKeSfaXx8cfVaiyRKP97DCcS6CEzj6vmo
OPENAI_API_KEY=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
